

.main {
    display: flex;
    justify-content: center;
}

.main > div {
    padding: 4rem;
    margin-top: 1rem;
    width: 100%;
    height: 90%;
}

.main .locations-table {
    max-height: 700px;
    background: var(--color-white);
    border-radius: var(--card-border-radius);
    padding: var(--card-padding);
    overflow: auto;
    box-shadow: var(--box-shadow);
    transition: all 300ms ease;
    
}

.main .locations h2 {
    margin-bottom: 0.8rem;
}

.main .locations table {
    table-layout: fixed;
    width: 100%;
    text-align: center;
    border-spacing: 20px 10px;
}

.main .locations-table:hover {
    box-shadow: none;
}

.main .locations table tbody td {
    height: 2.8rem;
    border-bottom: 1px solid var(--color-light);
    color: var(--color-dark-variant);
    word-wrap: break-word;
    padding-bottom: 10px;
}

.main .locations table tbody tr:last-child td {
    border: none;
}

.main .locations a {
    text-align: center;
    display: block;
    margin: 1rem auto;
    color: var(--color-danger);
}

.remove-location {
    color: var(--color-danger);
    cursor: pointer;
}

.expanded-view {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
}

.expanded-container {
    position: absolute;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius-3);
    background: var(--color-white);
}

.expanded-view img {
    position: relative;
    border-radius: var(--border-radius-3);
    width: 100%;
}

.expanded-view .close-expanded {
    position: absolute;
    cursor: pointer;
    top: 30px;
    right: 30px;
}

.expanded-view .close-expanded span {
    color: var(--color-dark-variant);
}

.expanded-view .download-expanded {
    position: absolute;
    cursor: pointer;
    top: 30px;
    left: 30px;
}

.expanded-view .download-expanded a {
    text-decoration: none;
    color: var(--color-dark-variant);
}

.td-image {
    cursor: pointer;
}

/* ---------- RIGHT ---------- */

.right .locations-list {
    margin-top: 5rem;
}

.right .locations-list h2 {
    margin-bottom: 0.8rem;
}

.right .locations-list .add-location {
    background: var(--color-white);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.4rem var(--card-padding);
    border-radius: var(--border-radius-3);
    box-shadow: var(--box-shadow);
    transition: all 300ms ease;
}

.right .locations-list .add-location:hover {
    box-shadow: none;
}

.right .locations-list .add-location .locationForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    
}

.right .locations-list .add-location .locationForm .fieldsContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
}

.right .locations-list .add-location .locationForm .tInput {
    outline: none;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom-color: rgba(76, 175, 80, 0.5);
    font-size: 15px;
    color: #555;
    line-height: 1.2;
    display: block;
    width: 50%;
    height: 45px;
    background: 0 0;
    padding: 0;
    text-align: center;
    margin-bottom: 1rem;
}

.right .locations-list .add-location .locationForm .radioLabel {
    font-size: 15px;
    color: #555;
    line-height: 1.2;
    text-align: center;
}

.right .locations-list .add-location .locationForm .fileLabel {
    background-color: transparent;
    border: 2px dashed var(--color-primary);
    width: 50%;
    height: 50px;
    display: flex;;
    justify-content: center;
    align-items: center;
    color: var(--color-primary);
    cursor: pointer;
    border-radius: 10px;
    margin-top: 1rem;
}

.right .locations-list .add-location .locationForm .fileLabel:hover {
    background: var(--color-primary);
    color: var(--color-white);
}

.right .locations-list .add-location .locationForm .image {
    opacity: 0;
    width: 0.1px;
    height: 0.1px;
    position: absolute;
}

.right .locations-list .add-location .locationForm input[type="radio"] {
    accent-color: var(--color-primary);
}

.right .locations-list .add-location .locationForm .create-button {
    padding: 8px 12px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    margin: 40px 20px 20px;

    
}

.right .locations-list .add-location .locationForm .create-button:hover,
.right .locations-list .add-location .locationForm .create-button:focus { 
background-color: #1f7e16;
color: #ffffff;
}

.right .locations-list .add-location .locationForm .create-button:active {
background: #09223b;
color: rgb(255, 255, 255, .7);
}

.right .locations-list .add-location .locationForm .create-button:disabled { 
cursor: not-allowed;
background: rgba(0, 0, 0, .08);
color: rgba(0, 0, 0, .3);
}