/* ---------- MAIN ---------- */


.main {
    margin-top: 1.4rem;
}

.main .insights {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.6rem;
}

.main .insights > div {
    background: var(--color-white);
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
    margin-top: 1rem;
    box-shadow: var(--box-shadow);
    transition: all 300ms ease;
}

.main .insights > div:hover {
    box-shadow: none;
}

.main .insights > div span {
    background: var(--color-primary);
    padding: 0.5rem;
    border-radius: 50%;
    color: var(--color-white);
    font-size: 2rem;
}

.main .insights > div.expenses span {
    background: var(--color-danger);
}

.main .insights > div.income span {
    background: var(--color-success);
}

.main .insights > div .middle {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main .insights h3 {
    margin: 1rem 0 0.6rem;
    font-size: 1rem;
}

.main .insights .progress {
    position: relative;
    width: 92px;
    height: 92px;
    border-radius: 50%;
}

.main .insights svg {
    width: 7rem;
    height: 7rem;
}

.main .insights svg circle {
    fill: none;
    stroke: var(--color-primary);
    stroke-width: 14;
    stroke-linecap: round;
    transform: translate(5px, 5px);
}

.main .insights .sales svg circle {
    stroke-dashoffset: -30;
    stroke-dasharray: 200;
}

.main .insights .expenses svg circle {
    stroke-dashoffset: 20;
    stroke-dasharray: 80;
}

.main .insights .income svg circle {
    stroke-dashoffset: 35;
    stroke-dasharray: 110;
}

.main .insights .progress .number {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main .insights small {
    display: block;
    margin-top: 1.6rem;
}

/* ---------- RIGHT ---------- */

.right .users {
    margin-top: 2rem;
}

.right .users h2 {
    margin-bottom: 0.8rem;
}

.right .users .item {
    background: var(--color-white);
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 0.7rem;
    padding: 1.4rem var(--card-padding);
    border-radius: var(--border-radius-3);
    box-shadow: var(--box-shadow);
    transition: all 300ms ease;
}

.right .users .item:hover {
    box-shadow: none;
}

.right .users .item .right {
    display: flex;
    justify-content: space-between;
    align-items: start;
    margin: 0;
    width: 100%;
}

.right .users .item .icon {
    padding: 0.6rem;
    color: var(--color-white);
    border-radius: 50%;
    background: var(--color-primary);
    display: flex;
}

.right .users .item .remove {
    text-align: center;
    display: block;
    margin: 1rem auto;
    color: var(--color-danger);
    cursor: pointer;
}

.right .users .add-user {
    background-color: transparent;
    border: 2px dashed var(--color-primary);
    color: var(--color-primary);
    display: flex;
    align-items: center;
    justify-items: center;
    cursor: pointer;
}

.right .users .add-user:hover {
    background: var(--color-primary);
    color: var(--color-white);
}

.right .users .add-user div {
    display: flex;
    align-items: center;
    gap: 0.6rem;
}

.right .users .add-user div h3 {
    font-weight: 600;
}