@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
:root {
    font-size: 16px;
    font-family: Roboto;
    --main-color: #D92652;
    --second-color: #26D9AD;
    --background-main: #1e1e24;
    --background-second: #313132;
    --background-third: #e9e8e6;
    --background-fourth: #d3d3d3;
    --main-green: #4CAF50;
    --dark-green: #3e8a40;
    --background-completed: rgb(165, 162, 162);
}

html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.body{
    margin: 0;
    padding: 0;
}

.body::-webkit-scrollbar{
    width: 0.4rem;
}

.body::-webkit-scrollbar-track{
    background-color: var(--background-main);
}

.body::-webkit-scrollbar-thumb{
    border-radius: 8px;
    background: var(--main-color);
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.main > *:first-child {
    margin-top: 4rem;
}

.container{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: var(--background-fourth);
}

.welcome {
    font-size: 2rem;
    margin: 0 auto 20% auto;
}

.universal-goals{
    position: relative;
    width: 90%;
    border-radius: 10px;
    box-shadow: 0 5px 10px 0 rgba(0,0,0,.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.goal-image {
    position: absolute;
    top: 10px;
    left: 10px;
    height: 20px;
    width: 20px;
    background-image: url("../img/goal.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center center;
}

.universal-goals-text{
    color: var(--background-main);
    width: 100%;
    margin-left: 90px;
    margin-top: 10px;
    font-weight: 500;
    display: flex;;
    align-items: flex-start;
    justify-content: flex-start;
}

.universal-goals-text:first-child{
    margin-top: 0.5rem;
}

.universal-goals-completed{
    color: var(--background-main);
    font-weight: 700;
    margin-bottom: 0.5rem;
}

.personal-goals{
    position: relative;
    width: 90%;
    border-radius: 10px;
    box-shadow: 0 5px 10px 0 rgba(0,0,0,.1);
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.personal-goal-image {
    position: absolute;
    top: 10px;
    left: 10px;
    height: 20px;
    width: 20px;
    background-image: url("../img/tick.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center center;
}

.personal-goals-text{
    color: var(--background-main);
    width: 100%;
    margin-left: 90px;
    margin-top: 10px;
    font-weight: 500;
    display: flex;;
    align-items: flex-start;
    justify-content: flex-start;
}

.personal-goals-text:first-child{
    margin-top: 0.5rem;
}

.personal-goals-completed{
    color: var(--background-main);
    font-weight: 700;
    margin-bottom: 0.5rem;
}

.completed{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
}

.wrapper{
    width: 95%;
    max-width: 60.5rem;
    max-height: 14rem;
    border-radius: 10px;
    margin: 0.8rem, 0.8rem, 0.8rem, 0.4rem;
    display: flex;
    overflow-x: auto;
    scrollbar-width: none;
}

.wrapper::-webkit-scrollbar{
    height: 0.4rem;
    width: 0;
}

.wrapper::-webkit-scrollbar-track{
    background-color: var(--background-fourth);
}

.wrapper::-webkit-scrollbar-thumb{
    background: var(--background-third);
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.wrapper .item {
    position: relative;
    min-width: 8rem;
    height: 8rem;
    text-align: center;
    border-radius: 10%;
    border: 2px solid var(--background-completed);
    margin: 2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-size: 100%;
    background-repeat: no-repeat;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-duration: .1s;
}

.wrapper .item:after {
    content: "";
    position: absolute;
    width: 100px;
    height: 100px;
    right: -60px;
    top: -60px;
    transform:rotate(45deg);
    background-color: var(--background-completed);
    background-repeat: no-repeat;
    background-size: 20%;
    background-position: top right;
  }

.line-test {
    width: 70%;
    background-color: rgba(0, 0, 0, 0.1);
    margin-top: 5%;
    margin-bottom: 5%;
    height: 2px;
}

