@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
:root {
    font-size: 16px;
    font-family: Roboto;
    --main-color: #D92652;
    --second-color: #26D9AD;
    --background-main: #1e1e24;
    --background-second: #313132;
    --background-third: #e9e8e6;
    --background-fourth: #dad9d8;
}

body{
    margin: 0;
    padding: 0;
}

body::-webkit-scrollbar{
    width: 0.4rem;
}

body::-webkit-scrollbar-track{
    background-color: var(--background-main);
}

body::-webkit-scrollbar-thumb{
    border-radius: 8px;
    background: var(--main-color);
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

main{
    padding: 1rem;
    background-color: var(--background-second);
}

.main > *:first-child {
    margin-top: 4rem;
}

.container{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--background-third);
}

.universal-goals{
    width: 100%;
    background-color: var(--background-fourth);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.universal-goals-text{
    color: var(--background-main);
    font-weight: 500;
}

.universal-goals-text:first-child{
    margin-top: 0.5rem;
}

.universal-goals-completed{
    color: var(--second-color);
    font-weight: 700;
    margin-right: 0.5rem;
}

.personal-goals{
    width: 100%;
    background-color: var(--background-fourth);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.personal-goals-text{
    color: var(--background-main);
    font-weight: 500;
}

.personal-goals-text:first-child{
    margin-top: 0.5rem;
}

.personal-goals-completed{
    color: var(--second-color);
    font-weight: 700;
    margin-right: 0.5rem;
}

.completed{
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper{
    width: 95%;
    max-width: 60.5rem;
    max-height: 14rem;
    border: 1px solid var(--background-fourth);
    margin: 0.8rem;
    display: flex;
    overflow-x: auto;
}

.wrapper::-webkit-scrollbar{
    height: 0.4rem;
    width: 0;
}

.wrapper::-webkit-scrollbar-track{
    background-color: var(--background-fourth);
}

.wrapper::-webkit-scrollbar-thumb{
    background: var(--background-third);
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.wrapper .item{
    min-width: 8rem;
    height: 8rem;
    line-height: 8rem;
    text-align: center;
    border: 0.05rem solid var(--background-second);
    background-color: var(--background-fourth);
    margin: 2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.goal-text{
    color: var(--main-color);
}

.events{
    width: 100%;
    background-color: var(--background-fourth);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.events-text{
    color: var(--background-main);
    font-weight: 500;
}

.events-wrapper{
    width: 95%;
    max-width: 60.5rem;
    max-height: 12rem;
    border: 1px solid var(--background-fourth);
    margin: 0.8rem;
    margin-top: auto;
    display: flex;
    overflow-x: auto;
}

.events-wrapper::-webkit-scrollbar{
    height: 0.4rem;
    width: 0;
}

.events-wrapper::-webkit-scrollbar-track{
    background-color: var(--background-fourth);
}

.events-wrapper::-webkit-scrollbar-thumb{
    background: var(--background-third);
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.events-wrapper .event-item{
    min-width: 16rem;
    height: 8rem;
    line-height: 8rem;
    text-align: center;
    border: 0.05rem solid var(--background-second);
    background-color: var(--background-fourth);
    margin: 0.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}