body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}

/* Main Game */

.main-container {
    margin: 0;
    padding: 0;

    min-width: 320px;
    max-width: 100vw;
    min-height: 600px;
    height: 100%;
    
    background-color: grey;
    overflow: hidden;
    display: none;
}

.player {
    background-image: url("../img/cat_general.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: absolute;
    width: 64px;
    height: 128px;
    bottom: 0;
}

.rubbish {
    width: 60px;
    height: 60px;
    position: absolute;

    
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}