@media screen and (min-width: 600px){

    .openbtn{
        visibility: hidden;
        opacity: 0;
        display: none;
    }

    .topnav{
        height: 4rem;
        width: 100vw;
        visibility: visible;
        opacity: 1;
        display: inline;
        position: fixed;
        z-index: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: height 200ms ease;
    }

    .navbar-container {
        margin-left: auto;
    }
    .navbar{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 100%;
    }

    .nav-item{
        height: 4rem;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 1rem;
        transition: height 200ms ease;
    }

    .topnav:hover{
        height: 6rem;
    }
    
    .topnav:hover .nav-item{
        height: 6rem;
    }
    
    .topnav:hover .logo{
        height: 6rem;
    }

    .profile-icon {
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .logo{
        height: 4rem;
        margin-left: 1rem;
        transition: height 200ms ease;
    }

    .logo-icon {
        margin: 1rem;
    }

    .action .menu {
        position: absolute;
        top: 80px;
        right: -10px;
        padding: 10px 20px;
        background-color: #fff;
        width: 200px;
        box-sizing: 0 5px 25px rgba(0,0,0,0.1);
        border-radius: 15px;
        transition: 0.5s;
        visibility: hidden;
        opacity: 0;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
     }
    
     .action .menu.active {
        visibility: visible;
        opacity: 1;
     }
    
     .action .profile.active {
        background-color: white;
     }
    
     .action .menu ::before {
        content: '';
        position: absolute;
        top: -5px;
        right: 3.5rem;
        width: 20px;
        height: 20px;
        background: #fff;
        transform: rotate(45deg);
     }
}

@media screen and (max-width: 600px){

    button.openbtn{
        visibility: visible;
        opacity: 1;
        position: fixed;
        z-index: 1;
        margin: 0.4rem;
        width: 2rem;
        height: 2rem;
        text-align: center;
        background-color: white;
        border-width: 0px;
        border-radius: 50%;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    }

    .topnav{
        width: 4rem;
        height: 100vh;
        position: fixed;
        z-index: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        transition: opacity 200ms ease;
        visibility: hidden;
        opacity: 0;
    }

    .navbar-container {
        margin-top: auto ;
        margin-bottom: 15vb;
    }
    
    .navbar{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
    }

    .topnav :first-child{
        justify-self: flex-start;
    }

    .nav-item{
        width: 4rem;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 1rem;
    }

    .profile-icon {
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    .logo{
        width: 4rem;
        margin-top: 1rem;
        transition: width 200ms ease;
    }

    .logo-icon {
        margin: 0.2rem;
    }

    .action .menu {
        position: absolute;
        bottom: 50px;
        right: -230px;
        padding: 10px 20px;
        background-color: #fff;
        width: 200px;
        box-sizing: 0 5px 25px rgba(0,0,0,0.1);
        border-radius: 15px;
        transition: 0.5s;
        visibility: hidden;
        opacity: 0;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
     }
    
     .action .menu.active {
        visibility: visible;
        opacity: 1;
     }
    
     .action .profile.active {
        background-color: white;
     }
    
     .action .menu ::before {
        content: '';
        position: absolute;
        bottom: 10px;
        left: -5px;
        width: 20px;
        height: 20px;
        background: #fff;
        transform: rotate(45deg);
     }
}

:root {
    font-size: 16px;
    font-family: Helvetica;
    --nav-main-color: #4CAF50;
    --nav-background-main: white;
    --nav-background-second: #d0d0d0;
}

.nav-body{
    margin: 0;
    padding: 0;
}

.topnav{
    background-color: var(--nav-background-main);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

.navbar{
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-item:hover{
    background-color: var(--nav-background-second);
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
}


.logo-icon {
    display: inline-block;
    border-radius: 0.5rem;
    overflow: hidden;
    width: 3rem;
    height: 3rem;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    background-color: rgb(224, 224, 224);
  }
  
.logo-icon img {
    display: block;
    width: 100%;
    height: auto;
}

.home-icon {
    margin: 1rem;
    display: inline-block;
    overflow: hidden;
    width: 3rem;
    height: 3rem;
  }
  
.home-icon img {
    display: block;
    width: 100%;
    height: auto;
}

.leaderboard-icon {
    margin: 1rem;
    display: inline-block;
    overflow: hidden;
    width: 3rem;
    height: 3rem;
  }
  
.leaderboard-icon img {
    display: block;
    width: 100%;
    height: auto;
}

.topnav.visible{
    visibility: visible;
    opacity: 1;
}

.openbtn.invisible{
    visibility: hidden;
    opacity: 0;
}

/* profile dropdown */
.dropdown_container{
    width: 0;
    display: none;
    align-items: flex-start;
 }

 .dropdown_container.active {
    display: flex;
 }

 .profile-icon {
    margin: 1rem;
    display: inline-block;
    overflow: hidden;
    width: 2.5rem;
    height: 2.5rem;
  }
  
.profile-icon img {
    display: block;
    width: 100%;
    height: auto;
}

 .action .menu ul {
    padding: 10px;
 }

 .action .menu ul li {
    list-style: none;
    padding: 10px 0;
    display: flex;
    align-items: center;
 }

 .action .menu ul li img {
    max-width: 20px;
    margin-right: 10px;
    opacity: 0.5;
    transition: 0.5s;
 }

 .action .menu ul li:hover img {
    opacity: 1;
 }

 .action .menu ul li a {
    display: inline-block;
    text-decoration: none;
    color: #555;
    font-weight: 500;
    transition: 0.5s;
 }

 .action .menu ul li:hover a {
    color: var(--nav-main-color);
 }