body {
    margin: 0;
    padding: 0;
}

.page {
    display: flex;
    flex-direction: column;
    background-color:lightgray;
    font-family: 'Arial Rounded MT';
    width: 100%;
    height: 100%;
}

/* styling of the content at the top of the view (profile points and xp) */

.top_layer {
    width: 100%;
    display: flex;
}

.profile {
    width: 50%;
    display: flex;
    justify-content: flex-start;
}

.bars {
    width: 100%;
    display: flex;
    flex-direction: column;
}

/* settings */

.settings_container{
    width: 15%;
    display: flex;
    align-items: flex-start;
 }

 .action {
    position: fixed;
    top: 20px;
    right: 30px;
 }

 .action .profile {
    position: relative;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
 }

 .action .profile img {
    position: absolute;
    margin: auto;
    height: 80%;
    width: 80%;
    object-fit: cover;
 }

 .action .menu {
    position: absolute;
    top: 80px;
    right: -10px;
    padding: 10px 20px;
    background-color: #fff;
    width: 200px;
    box-sizing: 0 5px 25px rgba(0,0,0,0.1);
    border-radius: 15px;
    transition: 0.5s;
    visibility: hidden;
    opacity: 0;
 }

 .action .menu.active {
    visibility: visible;
    opacity: 1;
 }

 .action .profile.active {
    background-color: white;
 }

 .action .menu ::before {
    content: '';
    position: absolute;
    top: -5px;
    right: 28px;
    width: 20px;
    height: 20px;
    background: #fff;
    transform: rotate(45deg);
 }

 .action .menu h3 {
    width: 100%;
    text-align: center;
    font-size: 18px;
    padding: 20px 0;
    font-weight: 500;
    font-size: 18px;
    color: #555;
    line-height: 1.2em;
 }

 .action .menu h3 span {
    font-size: 14px;
    color: #cecece;
    font-weight: 400;
 }

 .action .menu ul {
    padding: 10px;
 }

 .action .menu ul li {
    list-style: none;
    padding: 10px 0;
    border-top: 1px solid rgba(0,0,0,0.5);
    display: flex;
    align-items: center;
 }

 .action .menu ul li img {
    max-width: 20px;
    margin-right: 10px;
    opacity: 0.5;
    transition: 0.5s;
 }

 .action .menu ul li:hover img {
    opacity: 1;
 }

 .action .menu ul li a {
    display: inline-block;
    text-decoration: none;
    color: #555;
    font-weight: 500;
    transition: 0.5s;
 }

 .action .menu ul li:hover a {
    color: #ff5d94;
 }

.settings_img {
    padding: 5px;
}

/* styling of the content at the bottom of the view (profile selection) */

.bottom_layer{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    display: flex;
    height: 100%;
}

/*styling of the div diplaying the amount of points a player has*/
.point_container{
    margin-top: .5rem;
    margin-right: .5rem;
    display: flex;
    align-items: center;
}

.point_bar{
    position: relative;
    width: clamp(150px, 150px + 5vw, 500px);
    height: clamp(1.5em, 1em + 2vw, 2em);
    background-color: white;
    border-radius: 1.5rem;
}

.point_bar::before {
    content: attr(data-label);
    display: flex;
    align-items: center;
    position: absolute;
    left: .2rem;
    top: .2rem;
    bottom: .2rem;
    min-width: .2rem;
    max-width: calc(92%);
    width: 100%;
    background-color: #14820a;
    color: white;
    border-radius: 1rem;
    font-size: clamp(.8rem, 2vw, 1.2rem);
    padding-left: .5em;
}

/*styling of the icon displaying current level*/
.points{

    width: clamp(3.5rem, 2rem + 4vw, 6rem);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.points img {
    width: 75%;
}


/*styling of the div diplaying the amount of xp a player has*/
.xp_container{
    margin-top: .5rem;
    margin-right: .5rem;
    display: flex;
    align-items: center;
}

.xp_bar{
    position: relative;
    width: clamp(150px, 150px + 5vw, 500px);
    height: clamp(1.5em, 1em + 2vw, 2em);
    background-color: white;
    border-radius: 1.5rem;

}

.xp_bar::before {
    content: attr(data-label);
    display: flex;
    align-items: center;
    position: absolute;
    left: .2rem;
    top: .2rem;
    bottom: .2rem;
    min-width: .2rem;
    max-width: calc(92%);
    color: white;
    width: 100%;
    background-color: #17a3c9;
    border-radius: 1rem;
    font-size: clamp(.8rem, 2vw, 1.2rem);
    padding-left: .5em;
}

.writing_xp{
    position: absolute;
    text-align: center;
    width: 8rem;
    font-size: clamp(.05rem, .75rem + .5vw, 2rem);
    font-family: 'Arial Rounded MT';
}

/*styling of the icon displaying current level*/
.level{

    width: clamp(3.5rem, 2rem + 4vw, 6rem);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.level img {
    width: 75%;
}


.level label {
    position: absolute;
    text-align: center;
    color: white;
    width: 8rem;
    font-size: clamp(.05rem, .75rem + .5vw, 2rem);
    font-family: 'Arial Rounded MT';
}


/*styling of the div diplaying the players chosen profile picture and username*/

.profile_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 1rem;
    max-width: 7rem;
}

.pfp {
    width: 100%;
    background-color: #17a3c9;
    border-radius: .5rem;
    border: .2rem solid black;
}

.pfp_img {
    padding: 0;
    width: 100%;
    
}

.username {
    min-width: 50%;
}

.username p {
    font-weight: bold;
    font-size: clamp(.1rem, 1rem + .1vw, 5rem)
}


/*styling of the div diplaying the profile customization menu*/

.tabs{
    display: flex;
    flex-wrap: wrap;
    min-width: 17rem;
    align-content: center;
    margin: 2rem;
}

/*hides radio button for the tabs class*/
.tabs input[type="radio"]{
    display: none;
}
 
.tabs input[type="radio"]:checked + label + .tab {
    display: flex;
    flex-wrap: wrap;
}

/*styling of checked labels*/
.tabs input[type="radio"]:checked + label{
    background-color:rgb(255, 255, 255) ;
    border-color: #14820a;
}
/*stlying of unchecked labels*/
.tabs label{
    border-radius: 20px 20px 0px 0px ;
    padding: 25px;
    background-color:rgb(184, 182, 180);
}
/*stlying of the content */
.tab{
    border-radius: 0px 20px 20px 20px ;
    width: 100%;
    padding: 25px;
    background-color:rgb(255, 255, 255) ;
    order: 1;
    display: none;
    min-height: 100px;
    justify-content: flex-start;
}

/*stlying of the character tab icon */
label#character{
    background-repeat: no-repeat;
    background-size: 90%;
    background-image: url("../img/cat.png");
    background-position: center;
    
}

/*stlying of the accessory tab icon */
label#accessory{

    background-repeat: no-repeat;
    background-size: 75%;
    background-image: url("../img/hat.png");
    background-position: center;
    
}

/*stlying of the name color tab icon */
label#name_color{

    background-repeat: no-repeat;
    background-size: 70%;
    background-image: url("../img/abc.png");
    background-position: center;
    
}

/*stlying of the background tab icon */
label#background{

    background-repeat: no-repeat;
    background-size: 90%;
    background-image: url("../img/background.png");
    background-position: center;
    
}

label.tab_content {
    display: flex;
    border-radius: 25%;
    padding: 20px;
    margin: 5px;
    border: 2px solid #000000;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    width:9%;
    aspect-ratio: 1/1;
}

label#character_badger{
    background-image: url("../img/badger.png");
}

label#character_fox{
    background-image: url("../img/xp_symbol.png");
}

label#character_fox p{
    margin: auto;
    color: white;
    font-weight: bold;
    text-align: center;
}

label#character_frog{
    background-image: url("../img/frog.png");  
}

label#character_cat{
    background-image: url("../img/cat_character.png");
}

label#character_fish{
    background-image: url("../img/fish.png");
    
}

label#character_bird{
    background-image: url("../img/bird.png"); 
}

label#accessory_none{
    background-image: url("../img/none.png");  
}

label#accessory_crown{
    background-image: url("../img/crown.png");    
}

label#accessory_party{
    background-image: url("../img/party.png");    
}

label#accessory_viking{
    background-image: url("../img/viking.png"); 
}

label#accessory_locked{
    background-image: url("../img/locked.png"); 
}


label#name_color_black{
    background-color: #000000;
}

label#name_color_blue{
    background-color: #192e6c;
    background-image: url("../img/locked.png");
}

label#name_color_green{
    background-color: #14820a;
}

label#name_color_purple{
    background-color: #5f0b7b;
}

label#name_color_orange{
    background-color: #ed8114;
}

label#background_white{
    background-color: #ffffff;
}

label#background_blue{
    background-color: #17a3c9;
}

label#background_pink{
    background-color: #dd69e7;
}

label#background_grey{
    background-color: #858186;
}

label#background_green{
    background-color: #65d982;
}