.page {
    background-color:lightgray;
    font-family: 'Brush Script MT',cursive;
    width: 100%;
    height: 100%;
}
/* styling of the content at the top of the view (profile points and xp) */
.top_layer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 0px;
    padding: 0px;

}
/* styling of the content at the bottom of the view (profile selection) */
.bottom_layer{
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-content: center;
}
div#top_container{
    margin: 10px;
    align-items: center;
    width: 100%;
 }   

/*styling of the div diplaying the amount of points a player has*/
.points_container{
    position: relative;
    justify-content: center;
    align-items: center;
}


.points_bar{
    width: 60%;
    padding: 2px;
    background-color: #ffffff;
    border: 2px solid#000000;
    border-radius: 20px;
    text-align: center;

}

.writing_points{
    font-size: calc(5px + 2vw);

}

.point_icon img{
    width: 20%;
}

/*styling of the div diplaying the amount of xp a player has*/
.xp_container{
    position: relative;
    justify-content: center;
    align-items: center;
}

.xp_bar{
    position: relative;
    justify-content: center;
    align-items: center;  
}

.line_box {
    width: 60%;

    background-color: #ffffff;
    border: 2px solid#000000;
    border-radius: 20px;
    padding: 2px;
    text-align: center;
    position: relative;
    justify-content: center;
    align-items: center;  

}
.writing_xp{
    font-size: calc(5px + 2vw);
}

/*styling of green bar repersenting xp as a percent of the bar filled*/
.line {
    position:absolute;
    width: 50%;
    height: 89%;
    border-radius: 20px;
    background-color: #14820a;  
}


/*styling of the icon displaying current level*/
.level{
    position: relative;
    text-align: center;
    font-weight: bold;


}

/*palces the level number in the center is the icon*/
.level label {
    position: absolute;
    top: 43%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.level img {
    width: 25%;
}

/*styling of the div diplaying the players chosen profile picture and username*/
.pfp{
    width: 25%;
    min-width: 60px;
    aspect-ratio: 1/1;
    flex-wrap: wrap;
    border-radius: 25px;
    padding: 17px;
    border: 3px solid #000000;
    background: url("../img/fish.png");
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: #69d6e7;

}

.username {
    min-width: 50px;
}

.username p {
    font-size: calc(10px + 2vw);
}

.profile_container {
    display: flex;
    flex-direction: column;
    max-width: 40%;
}
/*styling of the div diplaying the profile customization menu*/
.tabs{
    display: flex;
    flex-wrap: wrap;
    max-width: 80%;
    margin: 10px auto;
    align-content: center;
}

/*hides radio button for the tabs class*/
.tabs input[type="radio"]{
    display: none;
}
 
.tabs input[type="radio"]:checked + label + .tab {
    display: block;
}

/*stlying of checked labels*/
.tabs input[type="radio"]:checked + label{
    background-color:rgb(255, 255, 255) ;
    border-color: #14820a;
}
/*stlying of unchecked labels*/
.tabs label{
    border-radius: 20px 20px 0px 0px ;
    padding: 25px;
    background-color:rgb(184, 182, 180);
}
/*stlying of the content */
.tab{
    border-radius: 0px 20px 20px 20px ;
    width: 100%;
    padding: 25px;
    background-color:rgb(255, 255, 255) ;
    order: 1;
    display: none;
}

/*stlying of the character tab icon */
label#character{

    background-repeat: no-repeat;
    background-size: 90%;
    background-image: url("../img/cat.png");
    background-position: center;
    
}

/*stlying of the accessory tab icon */
label#accessory{

    background-repeat: no-repeat;
    background-size: 75%;
    background-image: url("../img/hat.png");
    background-position: center;
    
}

/*stlying of the name color tab icon */
label#name_color{

    background-repeat: no-repeat;
    background-size: 70%;
    background-image: url("../img/abc.png");
    background-position: center;
    
}

/*stlying of the background tab icon */
label#background{

    background-repeat: no-repeat;
    background-size: 90%;
    background-image: url("../img/background.png");
    background-position: center;
    
}

label.tab_content {
    display: flex;
    border-radius: 25%;
    padding: 20px;
    margin: 5px;
    border: 2px solid #000000;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    width:9%;
    aspect-ratio: 1/1;

}

label#character_badger{
    background-image: url("../img/badger.png");
}

label#character_frog{
    background-image: url("../img/frog.png");  
}

label#character_cat{
    background-image: url("../img/cat_character.png");
}

label#character_fish{
    background-image: url("../img/fish.png");
    
}

label#character_bird{
    background-image: url("../img/bird.png"); 
}

label#accessory_none{
    background-image: url("../img/none.png");  
}

label#accessory_crown{
    background-image: url("../img/crown.png");    
}

label#accessory_party{
    background-image: url("../img/party.png");    
}

label#accessory_viking{
    background-image: url("../img/viking.png"); 
}

label#name_color_black{
    background-color: #000000;
}

label#name_color_green{
    background-color: #14820a;
}

label#name_color_purple{
    background-color: #5f0b7b;
}

label#name_color_orange{
    background-color: #ed8114;
}

label#background_white{
    background-color: #ffffff;
}

label#background_blue{
    background-color: #17a3c9;
}

label#background_pink{
    background-color: #dd69e7;
}

label#background_grey{
    background-color: #858186;
}

label#background_green{
    background-color: #65d982;
}