.game_container {
    display: none;
    justify-content: center;
    align-items: center;
    margin: 20px;
    padding: 20px;
}

.question-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  .question-box {
    margin-bottom: 20px;
    justify-content: center;
    align-items: center;
  }

  .question {
    text-align: center;
  }
  
  .answer-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }
  
  .answer-box {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 5px;
  }
  
  .confirm-button {
    margin-top: 20px;
  }

.results {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.result-text {
  font-weight: bolder;
  text-align: center;
}

.next-button {
  margin-top: 30vh;
}