body {
  margin: 0;
}

.body {
  font-family: 'Arial Rounded MT';
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../img/login_background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
}

.outerContainer {
  display: flex;
  border-radius: 10px;
  box-shadow: 0 5px 10px 0 rgba(0,0,0,.1);
  width: 50%;
  height: 60%;
  max-width: 300px;
  max-height: 550px;
  
  justify-content: center;
  align-items: center;
  background: #ffffff;
  padding: 77px 55px 33px;
}

.tInput {
  outline: none;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom-color: rgba(10, 102, 194, 0.8);
  font-size: 15px;
  color: #555;
  line-height: 1.2;
  display: block;
  width: 100%;
  height: 45px;
  background: 0 0;
  padding: 0;

}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.hat {
  display: block;
  margin: 0 auto;
  opacity: 0;
  transition: opacity 0.5s ease;
  transition: height 0.5s ease;
}

.hat.shown {
  opacity: 1;
}

.tInput {
  outline: none;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom-color: #4CAF50;
  font-size: 15px;
  color: #555;
  line-height: 1.2;
  display: block;
  width: 100%;
  background: 0 0;
  padding: 0;

}

@media only screen and (max-width: 600px) {
  form {
    width: 100%;
    max-width: 600px;
    height: auto;
  }
}

.registrationBit {
  border: none;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  align-self: center;
}


label {
  display: block;
  width: 100%;
  margin-right: 10px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  padding: 10px;
  margin-top: 5px;
}

input[type="submit"] {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 5x;
  align-self: center;
  position: relative;
}

input[type="submit"]:hover {
  background-color: #45a049;
}

input[type="submit"]:hover ~ .shaker {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}

.image {
  height: 50px;
  padding-bottom: 10px;
  width: auto;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.runners {
  display: flex;
  justify-content: flex-start;
  position: fixed;
  bottom: 0;
  width: 100%;
  overflow: hidden;
  opacity: 1;
  transform: translateX(0%);
  transition: transform 2s ease-in-out;
}

.runner {
  height: 100px;
  width: auto;
}

.runners.hide {
  opacity: 0;
}

.runners.running {
  transform: translateX(calc(100% - 500px));
}
