body {
    margin: 0;
    padding: 0;
}

.page {

    display: flex;
    flex-direction: column;
    background-color:lightgray;
    font-family: 'Arial Rounded MT';
    width: 100%;
    height: 100%;
}
/* styling of the content at the top of the view (profile points and xp) */
.top_layer {
    width: 100%;
    display: flex;
}

/* settings */

.settings_container{
    width: 15%;
    display: flex;
    align-items: flex-start;
 }

 .action {
    position: fixed;
    top: 20px;
    right: 30px;
 }

 .profile {
    display: flex;
    justify-content: center;
    align-items: center;
 }

 .action .profile {
    position: relative;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
 }

 .action .profile img {
    position: absolute;
    margin: auto;
    height: 80%;
    width: 80%;
    object-fit: cover;
 }

 .action .menu {
    position: absolute;
    top: 80px;
    right: -10px;
    padding: 10px 20px;
    background-color: #fff;
    width: 200px;
    box-sizing: 0 5px 25px rgba(0,0,0,0.1);
    border-radius: 15px;
    transition: 0.5s;
    visibility: hidden;
    opacity: 0;
 }

 .action .menu.active {
    visibility: visible;
    opacity: 1;
 }

 .action .profile.active {
    background-color: white;
 }

 .action .menu ::before {
    content: '';
    position: absolute;
    top: -5px;
    right: 28px;
    width: 20px;
    height: 20px;
    background: #fff;
    transform: rotate(45deg);
 }

 .action .menu h3 {
    width: 100%;
    text-align: center;
    font-size: 18px;
    padding: 20px 0;
    font-weight: 500;
    font-size: 18px;
    color: #555;
    line-height: 1.2em;
 }

 .action .menu h3 span {
    font-size: 14px;
    color: #cecece;
    font-weight: 400;
 }

 .action .menu ul {
    padding: 10px;
 }

 .action .menu ul li {
    list-style: none;
    padding: 10px 0;
    border-top: 1px solid rgba(0,0,0,0.5);
    display: flex;
    align-items: center;
 }

 .action .menu ul li img {
    max-width: 20px;
    margin-right: 10px;
    opacity: 0.5;
    transition: 0.5s;
 }

 .action .menu ul li:hover img {
    opacity: 1;
 }

 .action .menu ul li a {
    display: inline-block;
    text-decoration: none;
    color: #555;
    font-weight: 500;
    transition: 0.5s;
 }

 .action .menu ul li:hover a {
    color: #ff5d94;
 }

.settings_img {
    padding: 5px;
}

/* styling of the content at the bottom of the view (profile selection) */

.bottom_layer{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    display: flex;
    height: 100%;
}
div#top_container{
    margin: 15px;
    width: 100%;
 }  




/*styling of the div diplaying the amount of points a player has*/
.point_container{
    display: flex;
    align-items: flex-start;
    
}

.point_bar_container{
    margin-top: 20px;
    margin-left: -25px;
    position: relative;
    width: 100%;
    z-index: 0;
}

.points_bar{
    width: 60%;
    height: 10%;
    background-color: #ffffff;
    border: 2px solid#000000;
    border-radius: 20px;
    padding: 2px;
    text-align: center;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;  

}

.writing_points{
    font-size: calc(3px + 2vw);

}

.point_icon {
    position: relative;
    text-align: center;
    font-weight: bold;  
    max-width: 80px;
    min-width: 20px;
    z-index: 1;
     
}
.point_icon img{
    width: 100%;
}
/*styling of the div diplaying the amount of xp a player has*/
.xp_container{
    display: flex;
    align-items: flex-start;
    
}

.xp_bar{
    margin-top: 15px;
    margin-left: -25px;
    position: relative;
    width: 100%;
    z-index: 0;
}

.line_box {
    width: 60%;
    height: 10%;
    background-color: #ffffff;
    border: 2px solid#000000;
    border-radius: 20px;
    padding: 2px;
    text-align: center;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;  

}
.writing_xp{
    position: absolute;
    width: 50%;
    left: 25%;
    font-size: calc(3px + 2vw);
}

/*styling of green bar repersenting xp as a percent of the bar filled*/
.line {
    height: 100%;
    width: 100%;
    border-radius: 20px;
    
}

.blue_line {
    height: 100%;
    width: 50%;
    left: 0;
    border-radius: 20px;
    background-color: #1591aa;  
}


/*styling of the icon displaying current level*/
.level{
    position: relative;
    text-align: center;
    font-weight: bold;  
    max-width: 80px;
    min-width: 20px;
    z-index: 1;
}

.level img {
    width: 100%;
}
/*palces the level number in the center is the icon*/
.level label {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/*styling of the div diplaying the players chosen profile picture and username*/
.pfp{
    width: 80%;
    min-width: 30px;
    aspect-ratio: 1/1;
    flex-wrap: wrap;
    border-radius: 25px;
    padding: 17px;
    border: 3px solid #000000;
    background: url(fish.png);
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: #69d6e7;

}

.username {
    min-width: 50%;
}

.username p {
    font-weight: bold;
    font-size: calc(3px + 2vw);
}

.profile_container {

    display: flex;
    flex-direction: column;
    max-width: 15%;
}
/*styling of the div diplaying the profile customization menu*/
.tabs{
    display: flex;
    flex-wrap: wrap;
    max-width: 80%;
    align-content: center;
    margin-left: 25%;
    margin-top: -50px;
}

/*hides radio button for the tabs class*/
.tabs input[type="radio"]{
    display: none;
}
 
.tabs input[type="radio"]:checked + label + .tab {
    display: flex;
    flex-wrap: wrap;
}

/*styling of checked labels*/
.tabs input[type="radio"]:checked + label{
    background-color:rgb(255, 255, 255) ;
    border-color: #14820a;
}
/*stlying of unchecked labels*/
.tabs label{
    border-radius: 20px 20px 0px 0px ;
    padding: 25px;
    background-color:rgb(184, 182, 180);
}
/*stlying of the content */
.tab{

    border-radius: 0px 20px 20px 20px ;
    width: 100%;
    padding: 25px;
    background-color:rgb(255, 255, 255) ;
    order: 1;
    display: none;
    min-height: 100px;
}

/*stlying of the character tab icon */
label#character{
    background-repeat: no-repeat;
    background-size: 90%;
    background-image: url("cat.png");
    background-position: center;
    
}

/*stlying of the accessory tab icon */
label#accessory{

    background-repeat: no-repeat;
    background-size: 75%;
    background-image: url("hat.png");
    background-position: center;
    
}

/*stlying of the name color tab icon */
label#name_color{

    background-repeat: no-repeat;
    background-size: 70%;
    background-image: url("abc.png");
    background-position: center;
    
}

/*stlying of the background tab icon */
label#background{

    background-repeat: no-repeat;
    background-size: 90%;
    background-image: url("background.png");
    background-position: center;
    
}

label.tab_content {
    display: flex;
    border-radius: 25%;
    padding: 20px;
    margin: 5px;
    border: 2px solid #000000;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    width:9%;
    aspect-ratio: 1/1;

}

label#character_badger{
    background-image: url("badger.png");
}

label#character_fox{
    background-image: url("xp_symbol.png");
    justify-content: center;

}

label#character_fox p{
    margin: auto;
    font-weight: bold;
    text-align: center;
}

label#character_frog{
    background-image: url("frog.png");  
}

label#character_cat{
    background-image: url("cat_character.png");
}

label#character_fish{
    background-image: url("fish.png");
    
}

label#character_bird{
    background-image: url("bird.png"); 
}

label#accessory_none{
    background-image: url("none.png");  
}

label#accessory_crown{
    background-image: url("crown.png");    
}

label#accessory_party{
    background-image: url("party.png");    
}

label#accessory_viking{
    background-image: url("viking.png"); 
}

label#accessory_locked{
    background-image: url("locked.png"); 
}


label#name_color_black{
    background-color: #000000;
}

label#name_color_blue{
    background-color: #192e6c;
    background-image: url(locked.png);
}

label#name_color_green{
    background-color: #14820a;
}

label#name_color_purple{
    background-color: #5f0b7b;
}

label#name_color_orange{
    background-color: #ed8114;
}

label#background_white{
    background-color: #ffffff;
}

label#background_blue{
    background-color: #17a3c9;
}

label#background_pink{
    background-color: #dd69e7;
}

label#background_grey{
    background-color: #858186;
}

label#background_green{
    background-color: #65d982;
}