body {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
  
  .game_container {
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: lightblue;
    position: relative;
  }

  .rubbish {
    position: absolute;
    top: 0;
    width: calc(100% / 3);
    height: auto;
  }
  
  .bin {
    position: absolute;
    bottom: 0;
    width: calc(100% / 3); /* Divide the screen width into 3 equal parts for each bin */
    height: auto; /* Adjust the height to fit your images */
  }
  
  .left {
    left: 0;
  }
  
  .center {
    left: calc(100% / 3); /* Position the second bin after 1/3 of the screen width */
  }
  
  .right {
    right: 0;
  }
  