
{% load static %}
 
{% include 'sustainable_app/base.html' %}

<link rel="stylesheet" type="text/css" href="{% static 'sustainable_app/css/forgot_password.css' %}">

<div class="body">
   <div class="outerContainer">
     <form class="resetForm" action="" method="post">
         {% csrf_token %}
 
         <h1 class="title">Reset Password</h1>
 
         <div class="fieldsContainer">
       
            {% comment %} TODO: Pick a game keeper email to send to  {% endcomment %}
           <button class="emailButton" type="submit"><a href="mailto:root@gmail.com">Email Game Keeper</a></button>
           <button class="emailButton" type="submit"><a href="/login/">Go to Login</a></button>
         </div>
     </form> 
   </div>
 </div>
