
<title>Dashboard</title>
{% load static %}
{% include 'sustainable_app/base.html' %}

<!-- MATERIAL CDN -->
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Sharp:opsz,wght,FILL,GRAD@48,400,1,0" />
<!-- STYLESHEET -->
<link rel="stylesheet" href="{% static 'sustainable_app/css/game_keeper.css' %}">

    <div class="container">
        {% include 'sustainable_app/game_keeper_aside.html' %}
        {% csrf_token %}
        <main class="main">
            <h1>Dashboard</h1>

            <div class="insights">
                <div class="sales">
                    <span class="material-symbols-sharp">water_bottle</span>
                    <div class="middle">
                        <div class="left">
                            <h3 class="h3">Plastic Bottles Saved</h3>
                            <h1>{{ water }}</h1>
                        </div>
                    </div>

                </div>


                <div class="sales">
                    <span class="material-symbols-sharp">recycling</span>
                    <div class="middle">
                        <div class="left">
                            <h3 class="h3">Items Recycled</h3>
                            <h1>{{ plastic }}</h1>
                        </div>
                    </div>
                </div>
            </div>
        </main>

        <div class="right">
            <div class="users">
                <h2 class="h2">Current Game Keepers</h2>
                {% for game_keeper in game_keepers %}
                    <div class="item">
                        <div class="icon">
                            <span class="material-symbols-sharp">person</span>
                        </div>
                        <div class="right">
                            <div class="info">
                                <h3 class="h3">{{ game_keeper.username }}</h3>
                                <small class="text-muted small">{{ game_keeper.first_name }} {{ game_keeper.last_name}}</small>
                            </div>
                        </div>
                        {% if current_keeper_id !=  game_keeper.id%}
                        <div class="remove">
                            <span class="material-symbols-sharp remove-keeper" value={{ game_keeper.username }}>cancel</span>
                        </div>
                        {% endif %}
                    </div>
                {% endfor %}

                <div class="item add-user" id="add">
                    <div>
                        <span class="material-symbols-sharp">add</span>
                        <h3 class="h3">Add User</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="{% static 'sustainable_app/js/game_keeper.js' %}"></script>