
<title>Dashboard</title>
{% load static %}
{% include 'sustainable_app/base.html' %}

<!-- MATERIAL CDN -->
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Sharp:opsz,wght,FILL,GRAD@48,400,1,0" />
<!-- STYLESHEET -->
<link rel="stylesheet" href="{% static 'sustainable_app/css/game_keeper.css' %}">

    <div class="container">
        {% include 'sustainable_app/game_keeper_aside.html' %}
        <main>
            <h1>Dashboard</h1>

            <div class="insights">
                <div class="sales">
                    <span class="material-symbols-sharp">water_bottle</span>
                    <div class="middle">
                        <div class="left">
                            <h3>Plastic Bottles Saved</h3>
                            <h1>1,034</h1>
                        </div>

                        <div class="progress">
                            <svg>
                                <circle cx="38" cy="38" r="36"></circle>
                            </svg>
                            <div class="number">
                                <p>81%</p>
                            </div>
                        </div>
                    </div>
                    <small class="text-muted">Total</small>
                </div>


                <div class="expenses">
                    <span class="material-symbols-sharp">water_bottle</span>
                    <div class="middle">
                        <div class="left">
                            <h3>Plastic Bottles Saved</h3>
                            <h1>126</h1>
                        </div>

                        <div class="progress">
                            <svg>
                                <circle cx="38" cy="38" r="36"></circle>
                            </svg>
                            <div class="number">
                                <p>62%</p>
                            </div>
                        </div>
                    </div>
                    <small class="text-muted">This Week</small>
                </div>


                <div class="income">
                    <span class="material-symbols-sharp">recycling</span>
                    <div class="middle">
                        <div class="left">
                            <h3>Items Recycled</h3>
                            <h1>5,168</h1>
                        </div>

                        <div class="progress">
                            <svg>
                                <circle cx="38" cy="38" r="36"></circle>
                            </svg>
                            <div class="number">
                                <p>44%</p>
                            </div>
                        </div>
                    </div>
                    <small class="text-muted">Total</small>
                </div>
            </div>
        </main>

        <div class="right">
            <div class="users">
                <h2>Current Game Keepers</h2>
                <div class="item">
                    <div class="icon">
                        <span class="material-symbols-sharp">person</span>
                    </div>
                    <div class="right">
                        <div class="info">
                            <h3>VALIXDROID</h3>
                            <small class="text-muted">Josh Cox</small>
                        </div>
                    </div>
                </div>

                <div class="item">
                    <div class="icon">
                        <span class="material-symbols-sharp">person</span>
                    </div>
                    <div class="right">
                        <div class="info">
                            <h3>DOR_ARRR</h3>
                            <small class="text-muted">Dora Napier</small>
                        </div>
                    </div>
                </div>

                <div class="item">
                    <div class="icon">
                        <span class="material-symbols-sharp">person</span>
                    </div>
                    <div class="right">
                        <div class="info">
                            <h3>ITZELECTROZ</h3>
                            <small class="text-muted">Harry Whittle</small>
                        </div>
                    </div>
                </div>

                <div class="item add-user" id="add">
                    <div>
                        <span class="material-symbols-sharp">add</span>
                        <h3>Add User</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="{% static 'sustainable_app/js/game_keeper.js' %}"></script>
