{% comment %} Inspiration for the game keeper templates came from here - https://www.youtube.com/watch?v=BOF79TAIkYQ {% endcomment %}

{% load static %}
<link rel="stylesheet" href="{% static 'sustainable_app/css/game_keeper_aside.css' %}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>


<aside class="aside">
    <div class="top">
        <div class="logo">
            <img class="logo-img" src="{% static 'sustainable_app/img/point_symbol.png' %}" alt="logo">
            <h2 class="h2">SUSTAINABLE<span>DAILY</span></h2>
        </div>

        <div class="close" id="btn-close">
            <span class="material-symbols-sharp">close</span>
        </div>
    </div>

    <div class="sidebar">
        <a class="nav-link" href="/game_keeper/" id="btn-dash">
            <span class="material-symbols-sharp">grid_view</span>
            <h3 class="h3">Dashboard</h3>
        </a>
        <a class="nav-link" href="/game_keeper_locations/" id="btn-loc">
            <span class="material-symbols-sharp">map</span>
            <h3 class="h3">Locations</h3>
        </a>
        <a class="nav-link" href="/game_keeper_surveys/" id="btn-sur">
            <span class="material-symbols-sharp">receipt_long</span>
            <h3 class="h3">Surveys</h3>
        </a>
        <a class="nav-link" href="/game_keeper_questions/" id="btn-que">
            <span class="material-symbols-sharp">local_activity</span>
            <h3 class="h3">Questions</h3>
        </a>
        <a class="nav-link" href="/logout/">
            <span class="material-symbols-sharp">logout</span>
            <h3 class="h3">Logout</h3>
        </a>
    </div>
</aside>

<script src="{% static 'sustainable_app/js/game_keeper_aside.js' %}"></script>