<html>
<tml lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width">
    <title>Home</title>
    <link rel="stylesheet" href="home_style.css">
</head>

<body>
    <nav class="topnav">
        <ul class="navbar">
            <span class="app-name-text">Sustainable Daily</span>
            <li class="nav-item">
                <a><span class="home-text">Home</span></a>
            </li>
            <li class="nav-item">
                <a><span class="leaderboards-text">Leaderboards</span></a>
            </li>
            <li class="nav-item">
                <div class="profile-icon">
                    <img src="bird.png" alt="profile icon image">
                </div>
            </li>
        </ul>
      </nav>
    <main>
        <div class="container">
            <div class="universal-goals">
                <span class="universal-goals-text">Daily Goals</span>
                <div class="completed">
                    <span class="universal-goals-completed">0 of 5</span>
                    <span class="universal-goals-text">completed</span>
                </div>
                <div class="wrapper">
                    <div class="item"><span class="goal-text">Goal-1</span></div>
                    <div class="item"><span class="goal-text">Goal-2</span></div>
                    <div class="item"><span class="goal-text">Goal-3</span></div>
                    <div class="item"><span class="goal-text">Goal-4</span></div>
                    <div class="item"><span class="goal-text">Goal-5</span></div>
                </div>
            </div>
            <div class="personal-goals">
                <span class="personal-goals-text">Personal Goals</span>
                <div class="completed">
                    <span class="personal-goals-completed">0 of 5</span>
                    <span class="personal-goals-text">completed</span>
                </div>
                <div class="wrapper">
                    <div class="item"><span class="goal-text">Goal-1</span></div>
                    <div class="item"><span class="goal-text">Goal-2</span></div>
                    <div class="item"><span class="goal-text">Goal-3</span></div>
                    <div class="item"><span class="goal-text">Goal-4</span></div>
                    <div class="item"><span class="goal-text">Goal-5</span></div>
                </div>
            </div>
            <div class="events">
                <span class="events-text">Events</span>
                <div class="events-wrapper">
                    <div class="event-item"><span class="event-text">Event-1</span></div>
                    <div class="event-item"><span class="event-text">Event-2</span></div>
                    <div class="event-item"><span class="event-text">Event-3</span></div>
                    <div class="event-item"><span class="event-text">Event-4</span></div>
                    <div class="event-item"><span class="event-text">Event-5</span></div>
                </div>
            </div>
        </div>
    </main>
</body>

</html>