{% extends 'sustainable_app/navbar.html' %}

{% block content %}

{% load static %}

<tml lang="en">
<meta charset="UTF-8">
<meta name="viewport" content="width">
<title>Home</title>

<link rel="stylesheet" type="text/css" href="{% static 'sustainable_app/css/home.css' %}">

{% include 'sustainable_app/base.html' %}

<div class="body">
    <main>
        <div class="container">
            <div class="welcome">Home</div>
            <div class="universal-goals">
                <div class="goal-image"></div>
                <div class="universal-goals-text">Daily Goals</div>
                <div class="wrapper">
                    <div class="item" id="u-one" value="var(--completion-green)" name="universal"></div>
                    <div class="item" id="u-two" value="var(--completion-green)" name="universal"></div>
                    <div class="item" id="u-three" value="grey" name="universal"></div>
                    <div class="item" id="u-four" value="grey" name="universal"></div>
                    <div class="item" id="u-five" value="grey" name="universal"></div>
                </div>
                <div class="completed">
                    <span class="universal-goals-completed" id="universal-text"></span>
                </div>
            </div>
            
            <div class="personal-goals">
                <div class="personal-goal-image"></div>
                <div class="personal-goals-text">Personal Goals</div>
                <div class="wrapper">
                    <div class="item personal" id="p-one" value="grey" name="personal"><div class="goal-text">Workout</div></div>
                    <div class="item personal" id="p-two" value="grey" name="personal"><span class="goal-text">Drink Water</span></div>
                    <div class="item personal" id="p-three" value="grey" name="personal"><span class="goal-text">Recycle Something</span></div>
                    <div class="item personal" id="p-four" value="grey" name="personal"><span class="goal-text">Do some work</span></div>
                    <div class="item personal" id="p-five" value="grey" name="personal"><span class="goal-text">Eat Something Healthy</span></div>
                </div>
                <div class="completed">
                    <span class="personal-goals-completed" id="personal-text"></span>
                </div>
            </div>
        </div>
    </main>
</div>

<script src="{% static 'sustainable_app/js/home.js' %}"></script>

{% endblock %}