{% extends 'sustainable_app/navbar.html' %}

{% block content %}

{% load static %}

{% include 'sustainable_app/base.html' %}

<link rel="stylesheet" type="text/css" href="{% static 'sustainable_app/css/leaderboard.css' %}">
<script src="{% static 'sustainable_app/js/leaderboard_sorting.js'%}"></script>
<script>
    let sortedByName = '{{name|safe}}';
    let sortedByPoints = '{{points|safe}}';
    let sortedByLevel = '{{level|safe}}';
    let currentUser = '{{currentUser|safe}}';

    

</script>


<div class = "body">
    <div class = "header">
        <h1>Leaderboard</h1>
    </div>


    <table id = "leaderboard-table" class = "styled-table"> 
        <tr>
            <td>Rank by:</td>
            <td><button class="tableBtn" onclick="orderTable(sortedByName,'username',currentUser)" name = "param" value = "username">Username</button></td>
            <td><button class="tableBtn" onclick="orderTable(sortedByLevel,'level',currentUser)" name = "param" value = "level">Level</button></td>
            <td><button class="tableBtn" onclick="orderTable(sortedByPoints,'points',currentUser)" name = "param" value = "points">Points</button></td>
        
        </tr>
    </table>

</div>
   
<script>orderTable(sortedByLevel);</script>

{% endblock %}
