{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'sustainable_app/css/leaderboard.css' %}">

<div class = "body">
    <div class = "header">
        <h1>Leaderboard</h1>
    </div>


    <table class = "styled-table"> 
        <tr>
            <td><button>Username</button></td>
            <td><button>Level</button></td>
            <td><button>Points</button></td>
        </tr>


        
        {% for user in names %}
            <tr>    
                <td>{{user.username}}</td>
                <td>{{user.level}}</td>
                <td>{{user.points}}</td>
            </tr>
        {% endfor %}
        
        

    </table>

</div>
   

