{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'sustainable_app/css/leaderboard.css' %}">
<script src="{% static 'sustainable_app/js/leaderboard_sorting.js'%}"></script>
<script>
    let dict;
</script>


<div class = "body">
    <div class = "header">
        <h1>Leaderboard</h1>
    </div>


    <table class = "styled-table"> 
        <tr>
            <form method = "get" action = "{% url 'leaderboard' %}"> 
                {% csrf_token %}
                <td><button type ="submit" name = "param" value = "username">Username</button></td>
                <td><button type ="submit" name = "param" value = "level">Level</button></td>
                <td><button type ="submit" name = "param" value = "points">Points</button></td>
            </form>
        </tr>


        
        {% for user in users %}
            <tr id = "table">    
                <td>{{user.username}}</td>
                <td>{{user.level}}</td>
                <td>{{user.points}}</td>
            </tr>
        {% endfor %}
        
        

    </table>

</div>
   

