
 {% load static %}
 
 {% include 'sustainable_app/base.html' %}

 <link rel="stylesheet" type="text/css" href="{% static 'sustainable_app/css/login.css' %}">

<!-- TODO: detect login error -->

 <div class="body">
    <div class="outerContainer">
      <form class="loginForm" action="" method="post">
          {% csrf_token %}
  
          <h1 class="title">Login</h1>
          
          {% if error %}
          <div class="error-heading">
            Incorrect username/password.
          </div>
          {% endif %}
  
          <div class="fieldsContainer">
            <input class="tInput username {% if error %} error {% endif %}" type="text" placeholder="Username" name="username" required>
        
            <input class="tInput pass {% if error %} error {% endif %}" type="password" placeholder="Password" name="password" required>
        
            <button class="loginButton" type="submit">Login</button>
          </div>
        
          <div class="forgotPass">
            <span><a class="forgotPassLink" href="#">Forgot password?</a></span>
          </div>
      </form> 
    </div>

    <div class="signup-container">
      <a href="/register" class="signup-link">Don't have an account yet? <b>Sign up</b></a>
    </div>
  </div>
