
 {% load static %}
 <link rel="stylesheet" type="text/css" href="{% static 'sustainable_app/css/login.css' %}">

<!-- TODO: detect login error -->

 <div class="body">
    <div class="outerContainer">
      <form class="loginForm" action"" method="post">
          {% csrf_token %}
  
          <h1 class="title">Login</h1>
  
          <div class="fieldsContainer">
            <input class="tInput username" type="text" placeholder="Username" name="username" required>
        
            <input class="tInput pass" type="password" placeholder="Password" name="password" required>
        
            <button class="loginButton" type="submit">Login</button>
          </div>
        
          <div class="forgotPass">
            <span><a class="forgotPassLink" href="#">Forgot password?</a></span>
          </div>
      </form> 
    </div>
  </div>
