
 {% load static %}
 <link rel="stylesheet" type="text/css" href="{% static 'sustainable_app/login.css' %}">

 <div class="body">
    <div class="outerContainer">
      <form action"" method="post">
          {% csrf_token %}
  
          <h1>Login</h1>
  
          <div class="fieldsContainer">
            <input class="username" type="text" placeholder="Username" name="username" required>
        
            <input class="pass" type="password" placeholder="Password" name="password" required>
        
            <button type="submit">Login</button>
          </div>
        
          <div class="forgotPass">
            <span class="psw"><a href="#">Forgot password?</a></span>
          </div>
      </form> 
    </div>
  </div>
