<!-- DESCRIPTION MAYBE?-->

{% load static %}

{% include 'sustainable_app/base.html' %}

<link rel="stylesheet" type="text/css" href="{% static 'sustainable_app/css/minigame_survey.css' %}">

<div class = "body">
    

    <div class = "header">
        <h1>Survey</h1>
    </div>

    <form class = "form" method = "post" action = "">
        <table class = "styled-table">
            
                {% csrf_token %}

                {% for question in questions %}
                    <tr>
                        
                        <div class = "radio-toolbar">
                            
                            <td>{{ question.question_text }}</td>
                            {% for choice in question.choice_set.all %}
                                <td><input class = "input-radio" type = "radio" value = {{choice.id}} name = "{{question.id}}" id = {{choice.choice_text}}></input><label class = "input-label" for = "{{choice.choice_text}}">{{ choice.choice_text }}</label></td>

                            {% endfor %}
                            
                            <!-- Add code here to display the answer options for each question -->
                        </div>
                    </tr>

                {% endfor %}

                
                

            
        </table>
        <input type = submit class = "survey-submit" value = "hello" name = "survey-submit">
    </form>

</div>


