
{% load static %}
 
{% include 'sustainable_app/base.html' %}

<link rel="stylesheet" type="text/css" href="{% static 'sustainable_app/css/password_reset.css' %}">

<div class="body">
   <div class="outerContainer">
     <form class="resetForm" action="" method="post">
         {% csrf_token %}
 
         <h1 class="title">Change Password</h1>
         
         {% if errorAuth %}
         <div class="error-heading">
           Incorrect password.
         </div>
         {% elif errorMatch %}
         <div class="error-heading">
            Password do not match.
          </div>
         {% endif %}
 
         <div class="fieldsContainer">
           <input class="tInput username" type="password" placeholder="Current Password" name="password" required>
       
           <input class="tInput pass" type="password" placeholder="New Password" name="new" required>

           <input class="tInput pass" type="password" placeholder="Confirm Password" name="confirm" required>
       
           <button class="changeButton" type="submit">Change</button>
         </div>
     </form> 
   </div>
 </div>
