{% extends 'sustainable_app/navbar.html' %}

{% load static %}

{% block content %}

{% include 'sustainable_app/base.html' %}

<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'sustainable_app/css/profile.css' %}"
/>

{% csrf_token %}

<div class="purchase_pop-up">
  <div class="purchase-container">
    <div class="item_to_buy_container">   
       <img class="item_to_buy" src="{% static 'sustainable_app/img/viking.png' %}" >
    </div>
    <p class="question">Purchase this item for<span class ="item_cost"> 100 </span>points?</p>
    <div class ="button_container">
      <button class="cancel" type="button">cancel</button>
      <button class="buy" type="button">buy</button>
    </div>
  </div>
</div>
<div class="page">


  <div class="top_layer">
    <div class="profile">
      <div class="profile_container">
        <div class="pfp" id="pfp">
          <img class="pfp_img" id="profile_image"/>
        </div>
        <div class="username">
          <p id="display_name"></p>
        </div>
      </div>
    </div>

    <div class="bars">
      <div class="xp_container">
        <div class="level">
          <label id="level_num"></label>
          <img src="{% static 'sustainable_app/img/xp_symbol.png' %}" />
        </div>
        <div class="xp_bar" data-label="100/200" id="xp_bar"></div>
      </div>

      <div class="point_container">
        <div class="points">
          <img src="{% static 'sustainable_app/img/point_symbol.png' %}" />
        </div>
        <div class="point_bar" data-label="100" id="point_bar"></div>
      </div>
    </div>
  </div>

  <div class="bottom_layer">
    <div class="tabs">
      <input type="radio" id="character_tab" name="tabs" checked="checked" />
      <label id="character" for="character_tab"></label>
      <form class="tab" id="character">
        <input type="radio" id="badger" name="character_select" value="badger"/>
        <label class="tab_content" id="character_badger" for="badger">
          <p></p>
        </label>

        <input type="radio" id="frog" name="character_select" value="frog"/>
        <label class="tab_content" id="character_frog" for="frog" level="">
          <p></p>
        </label>
        

        <input type="radio" id="cat" name="character_select" value="cat"/>
        <label class="tab_content" id="character_cat" for="cat" level="">
          <p></p>
        </label>

        <input type="radio" id="fish" name="character_select" value="fish"/>
        <label class="tab_content" id="character_fish" for="fish" level="">
          <p></p>
        </label>

        <input type="radio" id="bird" name="character_select" value="bird"/>
        <label class="tab_content" id="character_bird" for="bird" level="">
          <p></p>
        </label>

        <input type="radio" id="fox" name="character_select" value="fox"/>
        <label class="tab_content" id="character_fox" for="fox" level="">
          <p></p>
        </label>
      </form>

      <input type="radio" id="accessory_tab" name="tabs" />
      <label class="accessory" for="accessory_tab"></label>
      <form class="tab" id="accessory">
        <input type="radio" id="none" name="accessory_select" value="none"/>
        <label class="tab_content" id="accessory_none" for="none"></label>

        <input type="radio" id="party" name="accessory_select" value="party"/>
        <label class="tab_content" id="accessory_party" for="party"></label>

        <input type="radio" id="viking" name="accessory_select" value="viking"/>
        <label class="tab_content" id="accessory_viking" for="viking"></label>

        <input type="radio" id="crown" name="accessory_select" value="crown"/>
        <label class="tab_content" id="accessory_crown" for="crown"></label>

        <input type="radio" id="locked" name="accessory_select" value="locked"/>
        <label class="tab_content" id="accessory_locked" for="locked"></label>
      </form>

      <input type="radio" id="name_color_tab" name="tabs" />
      <label id="name_color" for="name_color_tab"></label>

      <form class="tab" id="name_color">
          <input type="radio" id="u_black" name="name_color_select" value="u_black"/>
          <label class="tab_content" id="name_color_black" for="u_black"></label>

          <input type="radio" id="u_green" name="name_color_select" value="u_green" />
          <label class="tab_content" id="name_color_green" for="u_green"></label>

          <input type="radio" id="u_purple" name="name_color_select" value="u_purple"/>
          <label class="tab_content" id="name_color_purple" for="u_purple"></label>

          <input type="radio" id="u_orange" name="name_color_select" value="u_orange"/>
          <label class="tab_content" id="name_color_orange" for="u_orange"></label>

          <input type="radio" id="u_blue" name="name_color_select" value="u_blue"/>
          <label class="tab_content" id="name_color_blue" for="u_blue"></label>
      </form>

      <input type="radio" id="background_tab" name="tabs" />
      <label id="background" for="background_tab"></label>
      <form class="tab" id="background_color">
        <input type="radio" id="b_white" name="background_select" value="b_white"/>
        <label class="tab_content" id="background_white" for="b_white"></label>

        <input type="radio" id="b_blue" name="background_select" value="b_blue"/>
        <label class="tab_content" id="background_blue" for="b_blue"></label>

        <input type="radio" id="b_pink" name="background_select" value="b_pink" />
        <label class="tab_content" id="background_pink" for="b_pink"></label>

        <input type="radio" id="b_grey" name="background_select" value="b_grey"/>
        <label class="tab_content" id="background_grey" for="b_grey"></label>

        <input type="radio" id="b_green" name="background_select" value="b_green"/>
        <label class="tab_content" id="background_green" for="b_green"></label>
      </form>
    </div>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>


<script>

  //TODO: Move into js file

  // Grab html elements
  const username = document.getElementById("display_name");
  const xp_bar=document.getElementById("xp_bar");
  const point_bar=document.getElementById("point_bar");
  const level_num=document.getElementById("level_num");
  const user_background = document.getElementById("pfp");
  const profile_image = document.getElementById("profile_image");

  user_level = parseInt("{{user_level}}");

  // Set attributes of elements
  xp_bar.setAttribute("data-label", "{{ user.xp }}");
  point_bar.setAttribute("data-label", "{{ user.points }}");
  level_num.innerText = user_level;
  username.innerText = "{{ user.username }}";
  username.style.color = "{{ text_color }}";
  user_background.style.background = "{{ background_color }}";


   profile_image.src="{% static "" %}sustainable_app/img/{{character}}{{accessory}}.png";
  //profile_image.src="{% static 'sustainable_app/img/'|add:character|add:accessory|add:'.png' %}";

// set unlock character levels
let character_array = {};

// populate array with items
{% for item in all_characters %}
  character_array[parseInt({{ item.unlock_level }})] = (document.getElementById(("character_" + {{ item.name }}.id).toString()));
{% endfor %}

</script>

<script src="{% static 'sustainable_app/js/profile.js' %}"></script>

{% endblock %}