{% load static %}
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'sustainable_app/css/profile.css' %}"
/>

<div class="page">
  <div class="top_layer">
    <div class="profile">
      <div class="profile_container">
        <div class="pfp">
          <img class="pfp_img" src="{% static 'sustainable_app/img/fish.png' %}" />
        </div>
        <div class="username">
          <p>Dora Napier</p>
        </div>
      </div>
    </div>

    <div class="bars">
      <div class="xp_container">
        <div class="level">
          <label>3</label>
          <img src="{% static 'sustainable_app/img/xp_symbol.png' %}" />
        </div>
        <div class="xp_bar" data-label="100/200"></div>
      </div>

      <div class="point_container">
        <div class="points">
          <img src="{% static 'sustainable_app/img/point_symbol.png' %}" />
        </div>
        <div class="point_bar" data-label="100"></div>
      </div>
    </div>
  </div>

  <div class="bottom_layer">
    <div class="tabs">
      <input type="radio" id="character_tab" name="tabs" checked="checked" />
      <label id="character" for="character_tab"></label>
      <div class="tab">
        <input
          type="radio"
          id="badger"
          name="character_select"
          checked="checked"
        />
        <label class="tab_content" id="character_badger" for="badger"></label>

        <input type="radio" id="frog" name="character_select" />
        <label class="tab_content" id="character_frog" for="frog"></label>

        <input type="radio" id="cat" name="character_select" />
        <label class="tab_content" id="character_cat" for="cat"></label>

        <input type="radio" id="fish" name="character_select" />
        <label class="tab_content" id="character_fish" for="fish"></label>

        <input type="radio" id="bird" name="character_select" />
        <label class="tab_content" id="character_bird" for="bird"></label>

        <input type="radio" id="fox" name="character_select" />
        <label class="tab_content" id="character_fox" for="fox"><p>6</p></label>
      </div>

      <input type="radio" id="accessory_tab" name="tabs" />
      <label id="accessory" for="accessory_tab"></label>
      <div class="tab">
        <input
          type="radio"
          id="none"
          name="accessory_select"
          checked="checked"
        />
        <label class="tab_content" id="accessory_none" for="none"></label>

        <input type="radio" id="party" name="accessory_select" />
        <label class="tab_content" id="accessory_party" for="party"></label>

        <input type="radio" id="viking" name="accessory_select" />
        <label class="tab_content" id="accessory_viking" for="viking"></label>

        <input type="radio" id="crown" name="accessory_select" />
        <label class="tab_content" id="accessory_crown" for="crown"></label>

        <input type="radio" id="locked" name="accessory_select" />
        <label class="tab_content" id="accessory_locked" for="locked"></label>
      </div>

      <input type="radio" id="name_color_tab" name="tabs" />
      <label id="name_color" for="name_color_tab"></label>
      <div class="tab">
        <input
          type="radio"
          id="black"
          name="name_color_select"
          checked="checked"
        />
        <label class="tab_content" id="name_color_black" for="black"></label>

        <input type="radio" id="green" name="name_color_select" />
        <label class="tab_content" id="name_color_green" for="green"></label>

        <input type="radio" id="purple" name="name_color_select" />
        <label class="tab_content" id="name_color_purple" for="purple"></label>

        <input type="radio" id="orange" name="name_color_select" />
        <label class="tab_content" id="name_color_orange" for="orange"></label>

        <input type="radio" id="n_blue" name="name_color_select" />
        <label class="tab_content" id="name_color_blue" for="n_blue"></label>
      </div>

      <input type="radio" id="background_tab" name="tabs" />
      <label id="background" for="background_tab"></label>
      <div class="tab">
        <input
          type="radio"
          id="white"
          name="background_select"
          checked="checked"
        />
        <label class="tab_content" id="background_white" for="white"></label>

        <input type="radio" id="blue" name="background_select" />
        <label class="tab_content" id="background_blue" for="blue"></label>

        <input type="radio" id="pink" name="background_select" />
        <label class="tab_content" id="background_pink" for="pink"></label>

        <input type="radio" id="b_grey" name="background_select" />
        <label class="tab_content" id="background_grey" for="b_grey"></label>

        <input type="radio" id="b_green" name="background_select" />
        <label class="tab_content" id="background_green" for="b_green"></label>
      </div>
    </div>
  </div>
</div>
