{% extends 'sustainable_app/navbar.html' %}

{% block content %}

{% load static %}

<meta charset="UTF-8" />
<meta name="viewport" content="width" />
<title>Home</title>

<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'sustainable_app/css/view_location.css' %}"
/>

{% include 'sustainable_app/base.html' %}

<div class="body">
  <main>
    <div class="container">
      <div class="location-title">{{location.name}}</div>
      <div class="location-type">{{type}}</div>
      <div>{{location.clue}}</div>
      <img
        src="{% get_media_prefix %}{{location.image}}"
        alt="Image of the location"
        class="location-img"
      />
    </div>
  </main>
</div>

{% endblock %}
